    header {
/*        background-color: #A1BCD8;*/
        background-color: #009688;
        padding-top: 1em;
        padding-bottom: 1em;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    .line {
        display: flex;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }
    .line img {
        height: 4em;
        margin-right: 1vh;
    }
    h2 {
        margin-top: 10px !important;
        font-size: 1.5em !important;
    }
    .formnote {
        margin-right: 10px;
        margin-left: 10px;
    }
    form {
        margin: 5px;
    }
    .delete {
        height: 2.5em;
    }
    .searchLine {
        margin: 15px;
        padding-right: 15px;
    }
    img {
        height: 25px;
    }
    .paddings {
        padding: 10px 0;
    }
    html,
    body {
        background-color: #f2f2f2!important;
    }
    main {
        background-color: white;
        margin: 2vh;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    #welcome{
        text-align: center;
        padding-bottom: 2em;
        padding-top: 2em;
    }
    #welcome h3{
        color: #009688;
    }
    #welcome img{
        height: 4.5em;
    }
    @media screen and (min-width: 200px) and (max-width: 540px) {
        img {
            height: 3em;
            margin-right: 1vh;
        }
        h2 {
            font-size: 1em !important;
        }
        form {
            font-size: 0.8em !important;
        }
    }

