#index table thead th {
  text-align: center;
}

#index table tbody td {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

#index table tbody td.actions {
  display: flex;
  align-items: center;
  flex-direction :column;
  justify-content: center;
}

#index table tbody td.actions a:first-child {
  margin-bottom: 0.5em;
}
#index #accordion .card-header {
  cursor: pointer;
}

#index #accordion .card-header i {
  display: flex;
  justify-content: flex-end;
}

#index #accordion .card-body div[class*=row] {
  padding: 1em 0;
}

#index #accordion .card-body div[class*=row]:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
